<% content_for :header_body do %>
  <div class="row mb-3">
    <div class="col-12">
      <!-- Button trigger modal -->
      <a href="<%= dashboard_orders_path(format: 'csv') %>" target="_blank" class="btn btn-icon btn-neutral">
        <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
        <span class="btn-inner--text"><%= t '.csv_download' %></span>
      </a>
    </div>
  </div>
<% end %>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row">
            <h3 class="mb-0 col-6"><%= t '.order_list' %></h3>
            <small class="col-6 text-right">
              <template v-if="orders.length > limit">
                ( {{ startIndex }} ~ {{ endIndex }} / {{ orders.length }}件 )
              </template>
              <template v-else>
                ( {{ orders.length }}件 )
              </template>
            </small>
          </div>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table id="orders_table" class="table table-sm align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"><%= t '.updated_at' %></th>
                <th scope="col"><%= t '.ordered_at' %></th>
                <th scope="col"><%= t '.status' %></th>
                <th scope="col"><%= t '.customer_name' %></th>
                <th scope="col"><%= t '.price' %></th>
                <th scope="col"><%= t '.payment' %></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr v-for="order in pageOrders">
                <th scope="row">
                  {{ order.updated_at }}
                </th>
                <td>
                  {{ order.ordered_at }}
                </th>
                <td>
                  {{ order.status }}
                </td>
                <td>
                  {{ order.customer_name }}
                </td>
                <td>
                  {{ order.price }}
                </td>
                <td>
                  {{ order.payment }}
                </td>
                <% if false # 詳細ページへのリンクはいったん非表示。%>
                <td class="text-right">
                  <a :href="'/dashboard/order/' + order.key">
                    <i class="ni ni-bold-right"></i>
                  </a>
                </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Card footer -->
        <div class="card-footer py-4" v-if="orders.length > limit">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" v-if="page != 1">
                <a class="page-link" href="javascript:void(0);" @click="page--">
                  <i class="fas fa-angle-left"></i>
                </a>
              </li>
              <li v-if="page >= pagenationButtonHalfNum + 1" class="mx-2">
                ...
              </li>
              <li v-for="p of pageTotalNum"
                  v-if="visiblePagenationButton(p)"
                  class="page-item" :class="{active: page == p}">
                <a class="page-link" href="javascript:void(0);" @click="page = p">{{ p }}</a>
              </li>
              <li v-if="page <= pageTotalNum - pagenationButtonHalfNum" class="mx-2">
                ...
              </li>
              <li class="page-item" v-if="page != pageTotalNum">
                <a class="page-link" href="javascript:void(0);" @click="page++">
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
