<% content_for :header_body do %>
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0"><%= t '.new.title' %></h3>
        </div>
        <div class="card-footer py-4">
          <div class="text-muted text-center mb-3">
            <%= t '.new.description' %>
          </div>
          <div class="btn-wrapper text-center">
            <a href="<%= @base_auth_url %>" class="base-link btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <%= image_tag 'base.png' %>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @shops.present? %>
<!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Order List</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table id="orders_table" class="table table-sm align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Order Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <% @shops.each do |order| %>
                  <tr>
                    <th scope="row">
                      <%= Time.at(order['ordered']).strftime('%Y/%m/%d %H:%M') %>
                    </th>
                    <td>
                      <%= order['dispatch_status'] %>
                    </td>
                    <td>
                      <%= order['last_name'] + ' ' + order['first_name'] %>
                    </td>
                    <td>
                      <%= order['total'].to_s(:delimited) %>
                    </td>
                    <td>
                      <%= order['payment'] %>
                    </td>
                    <td class="text-right">
                      <a href="/dashboard/order/<%= order['unique_key'] %>">
                        <i class="ni ni-bold-right"></i>
                      </a>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- Card footer -->
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
