  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-owners py-7">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="<%# col-xl-5 col-lg-6 col-md-8 %>px-5">
              <h1 class="text-white"><%= t ".title.#{@user.role}" %></h1>
              <p class="text-lead text-white"><%= t ".description.#{@user.role}" %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <%#
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            %>
            <div class="card-body px-lg-5 py-lg-5">
              <% if flash[:alert].present? %>
                <div class="text-warning mb-3 text-sm">
                  <%= flash[:alert].html_safe %>
                </div>
              <% end %>

              <%= form_with model: @user, local: true do |f| %>
                <% @require_params.each do |attr| %>
                  <div class="form-group mb-3">
                    <%= f.label attr, class: 'form-control-label' %>
                    <div class="input-group input-group-alternative">
                      <%#
                      <div class="input-group-prepend">
                        <= f.label attr, class: 'input-group-text bg-secondary text-gray' >
                      </div>
                      %>
                      <% if %i|password password_confirmation|.include?(attr) %>
                        <%= f.password_field attr, class: 'form-control', placeholder: t(".placeholder.#{attr.to_s}"), required: true %>
                      <% else %>
                        <%= f.text_field attr, class: 'form-control', placeholder: t(".placeholder.#{attr.to_s}"), required: true %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <%#
                <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                      </label>
                    </div>
                  </div>
                </div>
                %>
                <%= f.hidden_field :role, value: @user.role %>
                <div class="text-center">
                  <%= f.submit t('.signup'), class: 'btn btn-primary mt-4' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
