<% content_for :header_body do %>
  <div class="row mb-3">
    <div class="col-5">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-icon btn-neutral" data-toggle="modal" data-target="#uploadCsvModal">
        <span class="btn-inner--icon"><i class="fas fa-upload"></i></span>
        <span class="btn-inner--text"><%= t '.csv_upload' %></span>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="uploadCsvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <%= form_tag({controller: "items", action: "import_csv", method: "post"}, {multipart: true}) do %>
              <div class="modal-body">
                <label class="btn btn-neutral" for="csv_file">
                  <i class="ni ni-single-copy-04"></i><%= t '.select_file' %>
                  <div class="field" style="display:none">
                    <input type="file" name="csv_file" id="csv_file" accept="text/csv" @change="changedFile">
                  </div>
                </label>
                <div v-if="uploadFile">
                  {{ uploadFile.name }}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t '.modal_close' %></button>
                <input type="submit" name="commit" value="<%= t '.upload_file' %>" class="btn btn-primary">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-5 text-right">
      <a href="<%= new_dashboard_item_path %>" class="btn btn-icon btn-neutral"><%= t '.create_item' %></a>
    </div>
  </div>
<% end %>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row">
            <h3 class="mb-0 col-6"><%= t '.item_list' %></h3>
            <small class="col-6 text-right">
              <template v-if="items.length > limit">
                ( {{ startIndex }} ~ {{ endIndex }} / {{ items.length }}件 )
              </template>
              <template v-else>
                ( {{ items.length }}件 )
              </template>
            </small>
          </div>
        </div>
        <div class="card-body" v-if="items.length == 0">
          商品がありません。
        </div>
        <!-- Light table -->
        <div class="table-responsive" v-else>
          <table id="items_table" class="table table-sm align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="budget"><%= t '.base_id' %></th>
                <th scope="col" class="sort" data-sort="status"><%= t '.status' %></th>
                <th scope="col" class="sort" data-sort="name"><%= t '.name' %></th>
                <th scope="col" class="sort" data-sort="price"><%= t '.price' %></th>
                <th scope="col" class="sort" data-sort="stock"><%= t '.stock' %></th>
                <th scope="col" class="sort item_images" data-sort="images"><%= t '.images' %></th>
                <th scope="col" class="sort" data-sort="updated_at"><%= t '.updated_at' %></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr v-for="item in pageItems">
                <td scope="row" class="item_base_id">
                  <%#
                  <span class="badge badge-dot">
                    <i :class="item.status ? 'bg-info' : 'bg-light'"></i>
                  </span>
                  %>
                  <span>{{ item.base_id }}</span>
                </td>
                <td scope="row" class="item_base_id">
                  <span>{{ item.status }}</span>
                </td>
                <th scope="row" class="item_name">
                  <span class="name mb-0 text-sm">{{ item.name }}</span>
                </th>
                <td scope="row" class="item_price">
                  <span class="price">{{ item.price }}</span>
                </td>
                <td scope="row" class="item_stock">
                  <span class="stock">{{ item.stock }}</span>
                </td>
                <td scope="row" class="item_images">
                  <div class="avatar-group">
                    <span v-for="image in item.images"
                          v-if="image"
                          class="avatar avatar-sm rounded-circle" data-toggle="tooltip" >
                      <img alt="Image placeholder" :src="image">
                    </span>
                  </div>
                </td>
                <td scope="row" class="item_updated_at">
                  <span class="stock">{{ item.updated_at }}</span>
                </td>
                <td class="text-right">
                  <a :href="'/dashboard/items/' + item.base_id">
                    <i class="ni ni-bold-right"></i>
                  </a>
                  <%#
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                  %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Card footer -->
        <div class="card-footer py-4" v-if="items.length > limit">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" v-if="page != 1">
                <a class="page-link" href="javascript:void(0);" @click="page--">
                  <i class="fas fa-angle-left"></i>
                </a>
              </li>
              <li v-if="page >= pagenationButtonHalfNum + 1" class="mx-2">
                ...
              </li>
              <li v-for="p of pageTotalNum"
                  v-if="visiblePagenationButton(p)"
                  class="page-item" :class="{active: page == p}">
                <a class="page-link" href="javascript:void(0);" @click="page = p">{{ p }}</a>
              </li>
              <li v-if="page <= pageTotalNum - pagenationButtonHalfNum" class="mx-2">
                ...
              </li>
              <li class="page-item" v-if="page != pageTotalNum">
                <a class="page-link" href="javascript:void(0);" @click="page++">
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
