<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <%= form_with model: @item, url: dashboard_items_path do |form| %>
          <!-- Card header -->
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-4">
                <h3 class="mb-0"><%= t '.new' %></h3>
              </div>
              <div class="col-6">
              </div>
              <div class="col-2 text-right">
                <!-- FIXME: status select box -->
                <!-- FIXME: submit button -->
              </div>
            </div>
          </div>

          <div class="card-body">
            <h6 class="heading-small text-muted mb-4"><%= t '.basic_info' %></h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-title"><%= t '.title' %></label>
                <input type="text" id="input-title" class="form-control" v-model="title">
                <small v-if="originalTitle || originalShopName">
                  {{ originalTitle }} / {{ originalShopName }}
                </small>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="input-detail"><%= t '.detail' %></label>
                <textarea id="input-detail" class="form-control"></textarea>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-price"><%= t '.price' %></label>
                    <input type="email" id="input-price" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4"><%= t '.variation_info' %></h6>
            <div class="pl-lg-4">
              <div class="row" v-if="originalVariations.length == 0">
                <div class="col-8">
                  <div class="form-group">
                    <input class="form-control" name="variations[]" type="text" placeholder="種類">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input class="form-control" name="variations_stock[]" type="text" placeholder="在庫数">
                  </div>
                </div>
              </div>
              <div class="row" v-for="(variation, idx) in originalVariations" v-else>
                <div class="col-8">
                  <div class="form-group">
                    <input class="form-control" name="variations[]" type="text" placeholder="種類" :value="jaVariations[idx]">
                    <small>{{ variation[0] }} / {{ variation[1] }}</small>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input class="form-control" name="variations_stock[]" type="text" placeholder="在庫数">
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4"><%= t '.supplier_info' %></h6>
            <div class="pl-lg-4">
              <% 4.times do |idx| %>
                <div class="form-group">
                  <label class="form-control-label" for="input-supplier<%= idx + 1 %>"><%= t '.supplier' %><%= idx + 1 %></label>
                  <input type="text" id="input-supplier<%= idx + 1 %>" class="form-control">
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="supplierModal" tabindex="-1" :class="{active: visibleModal}">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <label class="form-control-label" for="modal_input-supplier"><%= t '.supplier' %></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-link"></i></span>
          </div>
          <input type="text" id="modal_input-supplier" class="form-control" placeholder="https://" v-model="supplier">
        </div>
        <small class="text-warning ml-2" v-if="visibleSupplierWarning">
          <%= t '.supplier_warning' %>
        </small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" @click="hideModal"><%= t '.load_skip' %></button>
        <button type="button" class="btn btn-primary disabled" v-if="loadingFromSupplier"><i class="fas fa-spinner fa-spin"></i></button>
        <button type="button" class="btn btn-primary" @click="loadFromSupplier" v-else><%= t '.load_from_supplier' %></button>
      </div>
    </div>
  </div>
</div>
