<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-2">
              <span class="badge badge-pill badge-<%= status_badge_class %>"><%= @item.status_i18n %></span>
            </div>
            <div class="col-8 text-center">
              <!--
              <h3 class="mb-0"><%= @item.name %></h3>
              -->
            </div>
            <div class="col-2 text-right">
              <a href="/dashboard/items/<%= @item.key %>/edit" class="btn btn-sm btn-primary"><%= t '.edit' %></a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h6 class="heading-small text-muted mb-4">
            <%= t '.basic_info' %>
            <% if @item.key.present? %>
              <span class="badge ml-3">BASE ID: <%= @item.key %></span>
            <% end %>
          </h6>
          <div class="pl-lg-4">

            <label class="form-control-label"><%= t '.title' %></label>
            <div class="card p-3 border"><%= @item.name %></div>

            <label class="form-control-label"><%= t '.detail' %></label>
            <div class="card p-3 border"><%= @item.detail %></div>

            <div class="row">
              <div class="col-md-4">
                <label class="form-control-label"><%= t '.price' %></label>
                <div class="card p-3 border"><%= @item.price.to_s(:delimited) %>円（税込）</div>
              </div>

              <% if @item.proper_price.present? %>
              <div class="col-md-4">
                <label class="form-control-label"><%= t '.proper_price' %></label>
                <div class="card p-3 border"><%= @item.proper_price.to_s(:delimited) %>円（税込）</div>
              </div>
              <% end %>

              <% if @item.reduced? %>
              <div class="col-md-4">
                <label class="form-control-label"><%= t '.tax_type' %></label>
                <div class="card p-2 border"><%= @item.tax_type_i18n %></div>
              </div>
              <% end %>
            </div>

            <label class="form-control-label"><%= t '.image' %></label>

            <div>
            <% @item.images.each do |img| %>
              <div class="avatar avatar-lg">
                <img src="<%= img %>" />
              </div>
            <% end %>
            </div>

          </div>

          <% if @item.variations.present? %>
            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4"><%= t '.variation_info' %></h6>
            <div class="pl-lg-4">

              <% @item.variations.each do |variation| %>
                <% if variation.base_id.present? %>
                  <span class="badge">BASE VARIATION ID: <%= variation.base_id %></span>
                <% end %>
                <div class="row">
                  <div class="col-8">
                    <div class="card p-2 border"><%= variation.text %></div>
                  </div>
                  <div class="col-2">
                    <div class="card p-2 border"><%= variation.stock %></div>
                  </div>
                </div>
              <% end %>

            </div>
          <% end %>

          <% if @item.suppliers.present? %>
            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4"><%= t '.supplier_info' %></h6>
            <div class="pl-lg-4">
              <% @item.suppliers.order(:priority).each_with_index do |supplier, idx| %>
                <label class="form-control-label"><%= t '.supplier' %><%= idx + 1 %></label>
                <div class="card p-2 border text-truncate d-block"><%= supplier.url %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
