<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Owner's Tool Dashboard">
    <title>Owner's Tool Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">

    <%= csrf_meta_tags %>
    <script>
      window.token = document.getElementsByName('csrf-token')[0].content;
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
  </head>

  <body class="bg-secondary" id="dashboard">
    <%= render "dashboard/parts/sidebar" %>

    <!-- Main content -->
    <div class="main-content" id="panel">
      <%= render 'dashboard/parts/nav' %>

      <div id="<%= controller_path.sub('/', '_') %>" <%= 'v-cloak' if individual_js_exist? %>>
        <!-- Header -->
        <div class="header bg-gradient-owners pb-6">
          <div class="container-fluid">
            <div class="header-body">
              <%= yield :header_body %>
            </div>
          </div>
        </div>

        <%= yield %>
      </div>

      <%= render 'parts/footer' %>
    </div>
  </body>
</html>
