<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Owner's Tool Dashboard">
    <title>Owner's Tool Dashboard</title>
    <!-- Favicon -->
    <link rel="icon" href="/assets/owners_icon2.jpg" type="image/jpeg">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-neutral" id="<%= controller_name %>">
    <%= render "dashboard/parts/sidebar" %>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <%= render "#{controller_name}/parts/nav" %>
      <%= yield %>
      <%= render 'parts/footer' %>
    </div>
  </body>
</html>
